html, body{
	margin: 0;

}
header {
	background: #333;
	position: fixed;
	height: 50px;
	width:96%;
	z-index: 1000;
	padding: 7px 2%;
}
header > *{
	text-decoration: none;
	color: #fff;
}

header h2{
	float: left;
}
header a:nth-child(2){
	line-height: 75px;
	float: right;
}
section{
	padding-top: 80px;
}
section:nth-child(1) #main_movie{
	width:400px;
	margin: 0 auto;
	overflow: hidden;
}
section:nth-child(1) #main_movie span{
	position: absolute;
	top: 95px;
	display: block;
	width: 400px;
	height: 255px;
	background-image: url('img/main.png');
	background-repeat: no-repeat;
	background-size: 129%;
	background-position-y: -36px;
	background-position-x: -44px;
}

section:nth-child(1) #main_info{
	/*text-align: center;*/
	padding: 10px 12%;
	color: #fff;
}
section:nth-child(1) #main_info h2{
	margin: 10px;
	text-align: center;
	font-size: 45px;
}
section:nth-child(1) .url_container {
	margin: 24px auto;
	width:300px;
}
section:nth-child(1) .url_container a{
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	padding: 6px;
	text-decoration: none;
	border: solid 1px;
}
/*header */